  form.tab-main-form .tab-pane {
    margin: 20px 20px;
  }
  textarea.form-control, pre {
    min-height: 15em;
  }

/* 

Adapted solution from
https://github.com/eu81273/angular.treeview/blob/master/css/angular.treeview.css

*/

div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

div[data-tree-model] li .expanded {
  padding: 1px 12px;
  font-weight: bold;
  background-repeat: no-repeat;
}
div[data-tree-model] li .expanded:before {
  content: "[=]";
  color: green;
}

div[data-tree-model] li .collapsed {
  padding: 1px 12px;
  font-weight: bold;
  background-repeat: no-repeat;
}
div[data-tree-model] li .collapsed:before {
  content: "[+] ";
  color: green;
}

div[data-tree-model] li .normal {
  padding: 1px 12px;
  background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}

